/*-------------Tag Selector----------*/
html{
    scroll-behavior: smooth;
}

h1{
    font-weight: normal;
    margin: 0px;
    padding-top: 125px;
    font-family: 'Montez', cursive;
    font-size: 6.625em;
    color: #DC4C20;
    text-shadow: #000000cb 1px 1px, #000000cb -1px 1px, #000000cb -1px -1px, #000000cb 1px -1px;
}

h2{
    font-family: 'Calligraffitti', cursive;
    color:#DC4C20;
    font-size: 3.2em;
    font-weight: normal;   
    padding-bottom: 20px; 
}

h3{
    font-family: 'Montserrat Alternates', sans-serif;
    color:rgb(221, 86, 45);
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 1.8em;
    font-weight: bold;
    text-align: left;
    
}

h4{
    font-family: 'Montserrat Alternates', sans-serif;
    color:black;
    font-size: 1.2em;
    
}

body{
    color: rgb(51, 51, 51);
    margin: 0px;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif; 
    background-color: rgba(235, 208, 176, 0.219);   
}


hr{
    border:none ;
    border-radius: 5px;
    height: 2px;
    background-image: linear-gradient(to right,  rgba(235, 209, 176, 0.103), #DC4C20,
    rgba(235, 209, 176, 0.103));
    width: 30%;
    margin: 100px auto;  
}

p{
    line-height: 2
}

a{
    color: rgb(224, 55, 3);
    text-decoration: none;
   
}

a:hover{
    color:rgb(90, 23, 2);
}


/*-------------------------------- HEADER ----------------------------------*/
/* Enlever le border du burger bootstrap*/
.navbar-light .navbar-toggler{
    border: none !important;
}

header{
    background-image: url(../images/decor.jpg);
    background-size: cover;
    height: 750px;
    align-items: center;
    margin: 0; 
    border-bottom: solid 2px #DC4C20;
    text-align: center;
}

/*----- NAV BAR -----*/

/* Couleur fond de la barre */
.navbar{
    background-color: #EBCEB0 !important;
    font-family: 'Montserrat Alternates', sans-serif; 
}
/* Taille font emplacement logo */
.navbar-brand{
    font-size: 0.9em;
    margin-left: 10px;
}
.navbar-nav{
    margin-right: 10px;
}
.nav-item{
    margin-right: 10px;
}
/* Couleur lien de la nav-bar */
.nav-link{
    color: #DC4C20 !important;
}

/* Couleur utilisée pour les liens lorsque la souris passe dessus */
.nav-link:hover{
 color: black !important;
}

/* Image portrait du header*/
.me{
    border-radius: 50%;
    width: 170px;
    margin: 60px;
    border: solid 1px black;
}
/*---------- FIN HEADER ---------*/


/*---------------------------------- MAIN --------------------------------------*/
/* positionnement bulle du hello */
.chat{
    margin-top: 45px;
}

/*--- Bouton pour le CV ---*/
.action-button
{
	padding: 10px 30px;
    margin: 20px 10px 10px 0px;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 16px;
	color: #FFF;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;	
}
.action-button:active
{
	transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

.action-button:hover{
    color: black;
    text-decoration: none;
}

.btncv{
    padding-top: 50px;
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}
.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}
/* Fin bouton */
/* ------------------ Barre de compétence ---------------- */
.progress {
    border-radius: 50px;
    width: 100%;
    height: 20px;
    overflow: hidden;
    background-color: rgba(36, 36, 36, 0.068);   
}

.progress-bar {
    padding-bottom: 5px;
    width: 80%;
    font-size: 18px;
    color: #FFF;
    text-align: center;
    background-color: #FA502E;
}

/******Animation des barres *******/
.progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-striped {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -moz-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 20px 20px;
}
@keyframes progress-bar-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 0;
    }
}
/*********************************Barre2**************************************************/
.progress2 {
    border-radius: 50px;
    width: 100%;
    height: 20px;
    overflow: hidden;
    background-color: rgba(36, 36, 36, 0.068);
    
}

.progress-bar2 {
    padding-bottom: 5px;
    width: 70%;
    font-size: 18px;
    color: #FFF;
    text-align: center;
    background-color: #2196F3;
}

/******Animation des barres *******/
.progress-bar2 {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-striped2 {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -moz-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 20px 20px;
}
@keyframes progress-bar-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 0;
    }
}

/*********************************Barre3**************************************************/
.progress3 {
    border-radius: 50px;
    width: 100%;
    height: 20px;
    overflow: hidden;
    background-color: rgba(36, 36, 36, 0.068);  
}

.progress-bar3 {
    padding-bottom: 5px;
    width: 60%;
    font-size: 18px;
    color: #FFF;
    text-align: center;
    background-color: #161616;
}

/******Animation des barres *******/
.progress-bar3 {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-striped3 {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -moz-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 20px 20px;
}
@keyframes progress-bar-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 0;
    }
}

/*************************barre4*******************************************/
.progress4 {
    border-radius: 50px;
    width: 100%;
    height: 20px;
    overflow: hidden;
    background-color: rgba(36, 36, 36, 0.068);  
}

.progress-bar4 {
    padding-bottom: 30px;
    width: 20%;
    font-size: 18px;
    color: #FFF;
    text-align: center;
    background-color: #FFDA3E;
}

/******Animation des barres *******/
.progress-bar4 {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-striped4 {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -moz-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 20px 20px;
}
@keyframes progress-bar-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 0;
    }
}

/*************************barre5*******************************************/
.progress5 {
    border-radius: 50px;
    width: 100%;
    height: 20px;
    overflow: hidden;
    background-color: rgba(36, 36, 36, 0.068);   
}

.progress-bar5 {
    padding-bottom: 30px;
    width: 25%;
    font-size: 18px;
    color: #FFF;
    text-align: center;
    background-color: rgb(38, 40, 180);
}

/******Animation des barres *******/
.progress-bar5 {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}
.progress-bar-striped5 {
    background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -moz-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
    background-size: 20px 20px;
}
@keyframes progress-bar-stripes {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 0;
    }
}
/* ----- Fin des barres -----*/

/* ----- logo des barres ----- */
.html5{
    width: 5%;
    display: flex;
    margin-bottom: 5px;
    margin-top: 25px;
}
.css{
    width: 5%;
    display: flex;
    margin-bottom: 5px;
    margin-top: 25px;
}
.wordpress{
    width: 5%;
    display: flex;
    margin-bottom: 5px;
    margin-top: 25px;
}
.javascript{
    width: 5%;
    display: flex;
    margin-bottom: 5px;
    margin-top: 25px;
}
.php{
    width: 7%;
    display: flex;
    margin-bottom: 5px;
    margin-top: 25px;
}

/* Centré en mobile */
@media screen and (max-width: 600px) {
.php, .javascript, .css, .wordpress, .html5{
    display: inline-block;
    width:10%;
}
}

/*---------- Soft Skills ---------*/
.techs-list {
    padding: 20px 0 20px 0;
    text-align: center;
}

.techs-list li {
    display: inline-block;
    padding: 0 1em;
    margin: 5px;
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    color:#DC4C20;
    background:#EFDFCF;  
    text-align: center;   
}
/*--- Fin softskills ---*/

/*--- Gestion de la partie contact ---*/
.contact{
    background-color: #EFDFCF;
    padding-bottom: 15px;
    padding-top: 15px;  
    margin-top: 40px; 
}

/*--------------------------------- Contact -----------------------*/
/*--- logo dans contact ---*/
/*--- Animation des logos ---*/
.icone_rs img{
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.icone_rs img:hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
/* Linkedin */
.linkedin{
    width: 50px;
    margin: 10px;
}
/* Twitter */
.twitter{
    width: 50px;
    margin: 10px;
    animation-duration: .5s;
}

/* GitLab */
.gitlab{
    width: 50px;
    margin: 10px;
}

/* ----------------------------- FOOTER ------------------------------- */
footer{
    background-color:#EBCEB0;
    padding: .5rem 1rem;
    text-align: center;
    font-size: .8rem;
}
.copy{
    color: white;
    margin-bottom: 0;
}